In [2]:
import pandas as pd

In [3]:

data = {
    'Name': ['Nguyen Van A', 'Tran Thi B', 'Le Van C', 'Pham Thi D', 'Hoang Van E',
             'Do Thi F', 'Bui Van G', 'Nguyen Thi H', 'Le Van I', 'Tran Van J'],
    'Age': [22, 21, 23, 20, 22, 24, 23, 22, 21, 20],
    'Class': ['Python', 'JavaScript', 'Python', 'JavaScript', 'Python', 
              'JavaScript', 'Python', 'JavaScript', 'Python', 'JavaScript'],
    'Score': [85, 90, 78, 88, 95, 82, 91, 79, 86, 84]
}
df = pd.DataFrame(data)
print(df)

           Name  Age       Class  Score
0  Nguyen Van A   22      Python     85
1    Tran Thi B   21  JavaScript     90
2      Le Van C   23      Python     78
3    Pham Thi D   20  JavaScript     88
4   Hoang Van E   22      Python     95
5      Do Thi F   24  JavaScript     82
6     Bui Van G   23      Python     91
7  Nguyen Thi H   22  JavaScript     79
8      Le Van I   21      Python     86
9    Tran Van J   20  JavaScript     84

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Age     10 non-null     int64
 2   Class   10 non-null     object
 3   Score   10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 452.0+ bytes

In [6]:
print(df.dtypes)

Name     object
Age       int64
Class    object
Score     int64
dtype: object

In [7]:
ages = df['Age']
print(ages)

0    22
1    21
2    23
3    20
4    22
5    24
6    23
7    22
8    21
9    20
Name: Age, dtype: int64

In [ ]:
# Tìm học viên có tên "Hoang Van E" và lớp "Python"
hoang_van_e = df[(df['Name'] == 'Hoang Van E') & (df['Class'] == 'Python')]
print(hoang_van_e)